In [1]:
import pandas as pd

In [8]:
tabla=pd.read_excel("ProgramaciondeServicioMod1.xlsx", index_col=0, sheet_name="Tabla Base de PS", header=1)
pd.DataFrame.head(tabla)

,RANGO HORARIO,Px,Frecuencia (f),Intervalo (i),TIEMPO DE RECORRIDO T1 a T2,TIEMPO DE RECORRIDO T2 a T1,TIEMPO EN TERMINAL 1,TIEMPO EN TERMINAL 2,TIEMPO DE CICLO (TC),Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
NaN,6:00 - 7:00,69,0.851852,70.434783,22,40,2,4,68,NaN,Cv = 90,81,NaN,NaN,NaN
NaN,7:00 - 8:00,133,1.641975,36.541353,26,41,3,4,74,NaN,α = 0.9,NaN,NaN,NaN,NaN
NaN,8:00 - 9:00,130,1.604938,37.384615,24,41,2,4,71,NaN,NaN,NaN,NaN,NaN,NaN
NaN,9:00 - 10:00,160,1.975309,30.375000,29,38,3,4,74,NaN,NaN,NaN,NaN,NaN,NaN
NaN,10:00 - 11:00,84,1.037037,57.857143,30,38,3,4,75,NaN,NOTA: Los tiempos estan en minutos,NaN,NaN,NaN,NaN

In [15]:
fin=pd.read_excel("ProgramaciondeServicioMod1.xlsx", index_col=0, sheet_name="Programación del profe", header=2)
pd.DataFrame.head(fin)

,CORRIDA,HORA DE PRESENTACION DEL CHOFER,ENCIERRO SALIDA,HORA DE LLEGADA,HORA DE SALIDA,HORA DE LLEGADA.1,HORA DE SALIDA.1
NaN,1,05:28:00,05:38:00,05:58:00,06:00:00,06:22:00,06:26:00
NaN,1,NaN,NaN,07:06:00,07:10:00,07:36:00,07:40:00
NaN,2,07:14:00,07:24:00,07:44:00,07:47:00,08:13:00,08:17:00
NaN,1,NaN,NaN,08:21:00,08:24:00,08:48:00,08:52:00
NaN,2,NaN,NaN,08:58:00,09:01:00,09:30:00,09:34:00